API/Good/API_HTTPPost_LogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Initialize_procedurename": {
                "inputs": {
                    "variables": [
                        {
                            "name": "procedurename",
                            "type": "string",
                            "value": "@{concat('Insert',variables('tablename'))}"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_tablename": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_tablename": {
                "inputs": {
                    "variables": [
                        {
                            "name": "tablename",
                            "type": "string",
                            "value": "@{string(triggerOutputs()['relativePathParameters']['resource'])}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "PROJECT_Execute_stored_procedure": {
                "inputs": {
                    "body": {
                        "fromjson": "@{triggerBody()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent(variables('procedurename')))}"
                },
                "runAfter": {
                    "Initialize_procedurename": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Response": {
                "inputs": {
                    "headers": {
                        "@triggerOutputs()['relativePathParameters']['resource']": "application\\content"
                    },
                    "statusCode": 200
                },
                "kind": "Http",
                "runAfter": {
                    "PROJECT_Execute_stored_procedure": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST",
                    "relativePath": "/{resource}/",
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "sql": {
                    "connectionId": "/subscriptions/9b4c654c-2ec1-4789-9f5e-f3b9e5153624/resourceGroups/eLiDAR/providers/Microsoft.Web/connections/sql-6",
                    "connectionName": "sql-6",
                    "id": "/subscriptions/9b4c654c-2ec1-4789-9f5e-f3b9e5153624/providers/Microsoft.Web/locations/canadacentral/managedApis/sql"
                }
            }
        }
    }
}